@import "@src/../node_modules/@fontsource/inter/100.css";
@import "@src/../node_modules/@fontsource/inter/200.css";
@import "@src/../node_modules/@fontsource/inter/300.css";
@import "@src/../node_modules/@fontsource/inter/400.css";
@import "@src/../node_modules/@fontsource/inter/500.css";
@import "@src/../node_modules/@fontsource/inter/600.css";
@import "@src/../node_modules/@fontsource/inter/700.css";
@import "@src/../node_modules/@fontsource/inter/800.css";
@import "@src/../node_modules/@fontsource/inter/900.css";
@import "@src/../node_modules/@fontsource/plus-jakarta-sans/600.css";
@import "@src/../node_modules/@fontsource/plus-jakarta-sans/700.css";
